---
layout: minimal
title: "About me"
permalink: /about/index.html
description: "The beginnings of my story"
---

<img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="AbdElraouf Sabri">

<h2>About Me</h2>

<p>I'm a software developer with an excellent experience in both Java and Android. It was back in 2013 since I began learning Java. Since then I have accomplished many Java projects. After being comfortable with the Java programming language, I started my Android development career since 2015. I've worked on a couple of graduation projects, Labase as a web designer and Watt as an Android developer. Playing those different roles gave me lots of experience that pushes me forward towards my goal.</p>


<p>I've accomplished many other projects just for Fun and for learning purposes. I always learn something new, things related to the tech field and others related to lifestyle.
</p>


<h2>Skills</h2>

<ul class="skill-list">
	<li>JavaSE 8</li>
	<li>JavaFX</li>
	<li>Android</li>
	<li>C++</li>
	<li>Scrum</li>
	<li>Git</li>
	<li>GitFlow</li>
	<li>Gitlab</li>
	<li>Mobile Applications</li>
	<li>Linux Desktop</li>
	<li>HTML5</li>
	<li>CSS</li>
	<li>Javascript</li>
	<li>jQuery</li>
	<li>C</li>
	<li>Compiler Construction</li>
	<li>Github</li>
	<li>Design Patterns</li>
	<li>Software Architecture</li>
	<li>TDD</li>
	<li>Linux</li>
	<li>Retrofit</li>
	<li>Dagger2</li>
	<li>Acceptance Testing</li>
	<li>FitNesse</li>
</ul>

<h2>Projects</h2>

<ul>
	<li>Watt?</li>
	<li><a href="https://gitlab.com/AbdElraoufSabri/ClassScheduler">Class Scheduler</a></li>
	<li><a href="https://gitlab.com/AbdElraoufSabri/LynCrypto">LynCrypto</a></li>
	<li>Ticket Machine</li>
	<li>IDM SAVE DIRECTORY CHANGER</li>
</ul>
