---
layout: default
pagination: 
  enabled: true
  category: all posts
---
<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">

{% include categories-navigation.html %}
  
<div class="posts-container">
    {% for post in paginator.posts %}
          {% include post-item.html %}
    {% endfor %}

</div>

{% include pagination.html %}

</main>