<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{site.baseurl}}/assets/img/blog-author.jpg" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
