<div class="blog-ctrl-group">
    <div class="tags-wrapper">
        <ul class="blog-tags">
        {% assign current_category = page.url | replace: '/category/', ' ' | truncatewords: 1 | remove:'/index.html...' %}
          <li class="{% if category_title == current_category or current_category == "" %}current-cat{% endif %}">
              <a name="all-posts" href="/#scroll">
                  all posts
              </a>
          </li>
          {% for category in site.categories %}
            {% assign category_title = category[0] | slugify %}
            {% if category_title == 'all-posts' %} 
              {% continue %}
            {% endif %}
              <li class="{% if category_title == current_category %}current-cat{% endif %}">
                  <a name="{{ category | first }}" href="/category/{{ category[0] | slugify}}#scroll">
                      {{ category | first}}
                  </a>
              </li>
          {% endfor %}
      </ul>
    </div>
</div>
