<footer>
    <p>Made with <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> and Edited with <span class="love" onMouseOver="this.style.color='#a83f39'" onMouseOut="this.style.color='#FFF'">❤</span> by <a href="https://abdelraoufsabri.gitlab.io/">AbdElraouf Sabri</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
