<article role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost" class="blog-post blog-post-block-{{ post.block }}">
    <div class="blog-post-content-wrp {% if post.type %} {{ post.type }} {% endif %} {% if post.image %} with-image {% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.description}}">
            <div class="blog-post-image" style="background-image:url({{ post.image }});">
            </div>
            <div class="blog-post-content">
                <h2 class="blog-post-type">
                    {% for tag in post.tags %}
                            <p>{{ tag }}</p>
                    {% endfor %}
                </h2>
                <h1 class="blog-post-title" itemprop="name">
                    {{ post.title }}
                </h1>
                <p class="blog-post-description">
                    {{ post.content | strip_html | truncatewords:60, "" }}
                </p>
                <div class="blog-post-date">
                    <meta itemprop="datePublished" content="{{ post.date }}"/>
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                    <p>{{ post.date | date: "%B %-d %Y" }}</p>
                    </time>
                </div>
            </div>
        </a>
    </div>
</article>

