.author
    background lightGray
    display table
    width 100%
    padding rem(40px) 0
    margin rem(40px) 0
    +above(cut)
        padding rem(50px) 0
    .details
        margin auto
        position relative
        max-width rem(800px)
        padding 0 rem(20px)
        +below(cut)
            text-align center
    img
        border-radius 50%
        +above(cut)
            float left
            width 15%
            margin-right 3.125rem
    .name
        margin 0
        a
            mainFont()
            text-decoration none
            color black
            font-size rem(30px)
            &:hover
                color main
            +above(cut)
                font-size rem(45px)
    .desc
        mainFont(300)
        margin rem(10px)
        font-size rem(16px)
        +above(cut)
            font-size rem(20px)
    .email
        text-decoration none
        mainFont(300)
        font-size rem(16px)
        color main
