.tags
    margin-top rem(10px)
    float left
    a
        font-size rem(14px)
        color main
        display inline-block
        border 1px solid main
        border-radius rem(3px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        &:hover
            color hover
            border 1px solid hover
.checkitout
    margin-top rem(10px)
    float right
    a
        background main
        font-size rem(16px)
        color sec
        display inline-block
        border 1px solid main
        border-radius rem(5px)
        padding rem(10px) rem(15px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        font-weight bold
        &:hover
            background sec
            color main
            border 1px solid main

.img-rounded
    border-radius 50%
