html,
body
	height 100%


$bg
	background main
	height 100%
	.content
		width 95%
		align(both)
		text-align center

// Header home
.header-site
	@extends $bg
	h1,h2
		color: sec
		text-align center
	.site-title
		font-size rem(60px)
		line-height 1
		margin-top -80px
		display block
		titleFont(800)
		+above(cut)
			margin-bottom 0
			font-size rem(100px)
	.site-description
		font-size rem(20px)
		display block
		titleFont()
		margin rem(30px) 0
		+above(cut)
			font-size rem(40px)

// Header Post
.header-post
	@extends $bg
	.content
		+above(cut)
			center(1000px)
	.subheader
		display table
		padding 20px
		a
			border 2px solid sec
			border-radius 20px
			padding 0 10px
			+above(cut)
				padding 0 10px

	.date
		mainFont(300)
		font-size rem(20px)
	h1
		text-transform uppercase
		font-size rem(30px)
		margin 0 0 30px
		titleFont(800)
		+above(cut)
			font-size rem(60px)
	.subtitle
		titleFont()
		font-size rem(20px)
	h1,.subtitle, .date
		color sec
		text-align center
	p
		color sec
		text-decoration none
		titleFont()
		font-size rem(18px)
