.home
    max-width 88%
    margin 0 auto
    padding 40px
.posts-container
    margin 0 auto 2.5em
    padding-top 2.5625em
    &:after
        content ""
        display table
        clear both
    .blog-post
        position relative
        display block
        float left
        padding .75em
        transition -webkit-transform .1s ease-in-out
        transition transform .1s ease-in-out
        transition-delay .1s
        box-sizing border-box
        .blog-post-content-wrp
            position relative
            width 100%
            height 100%
            background #fff
            border none
            overflow hidden
            border-radius 3px
            transition border .5s
            &.with-image
                .blog-post-image
                    position absolute
                    top 0
                    background-image url(http://fohn.at/wp-content/uploads/2013/05/placeholder.png)
                    background-size cover
                    background-position center
                    background-repeat no-repeat
            & > a
                display block
                height 100%
                text-decoration none
            .blog-post-content
                padding 1em
            .blog-post-type
                font-weight 500
                font-size 14px
                text-transform uppercase
                padding-left 26px
                line-height 120%
                background-position left center
                background-repeat no-repeat
                p
                    mainFont(200)
                    color main
            .blog-post-title
                font-weight 500
                display block
                max-height 75.6px
                -webkit-line-clamp 3
                -webkit-box-orient vertical
                overflow hidden
                text-overflow ellipsis
                margin 15px auto 0
                font-size 20px
                color main
                mainFont
            p
                font-weight 400
                display block
                -webkit-line-clamp 3
                -webkit-box-orient vertical
                overflow hidden
                text-overflow ellipsis
                color #777
                font-size 17px
                line-height 1.5
                max-height 72.8px
                margin 10px auto 0
                letter-spacing .3px
            &.post
                color #DA3228
                .blog-post-type
                    background-image url("/assets/img/icons/blog-article.png")
            &.project
                color #33B5E5
                .blog-post-type
                    background-image url("/assets/img/icons/blog-project.png")
            &.moment
                color #36C075
                .blog-post-type
                    background-image url("/assets/img/icons/blog-news.png")
            .blog-post-date
                position absolute
                bottom 0
                width 100%
                padding 1em
                p
                    color main
                    mainFont(500)

.posts-container .blog-post .blog-post-content-wrp
    transition box-shadow, -webkit-transform
    transition box-shadow, transform
    transition-duration .2s
    transition-timing-function ease-in-out
    transition-delay .1s

.posts-container .blog-post .blog-post-content-wrp:hover
    box-shadow 0 4px 16px rgba(0, 0, 0, .1)
    -webkit-transform translate3d(0, -3px, 0)
    transform translate3d(0, -3px, 0)
    
.blog-post-block-1x1
    height 290px
    width 25%
    .blog-post-image
            visibility hidden

.blog-post-block-1x2
    height 290px
    width 50%
    position relative
    .blog-post-image
        position absolute
        top 0
        left 0
        width 50%
        height 100%
    .blog-post-content
        position absolute
        top 0
        left 50%
        width 50%
        height 100% 

.blog-post-block-2x2
    height 580px
    width 50%
    position relative
    .blog-post-image
        width 100%
        height 50%
    .blog-post-content
        position absolute
        top 50%
        width 100%
        height 50% 

@media only screen and (max-width: 800px )
    .blog-post-block-1x1
        width 100%
    .blog-post-block-1x2
        width 100%
    .blog-post-block-2x2
        width 100%

/*!
 * Other media queries https://gist.github.com/AbdElraoufSabri/c4b925c0334f6d0a0c93aecd22722b3d
 */
 

.blog-tags
    padding 0 .75em
    list-style none
    // -webkit-margin-before 0;
    // -webkit-margin-after 0;
    li
        float left
    a
        display inline-block
        height 40px
        line-height 40px
        padding 0 15px
        margin-right 7px
        margin-bottom 7px
        font-size 14px
        mainFont (500)
        font-weight 500
        text-transform uppercase
        color #666
        border-radius 5px
        border none
        letter-spacing .3px
        transition background-color .2s linear
        text-decoration none
        &:hover
            background-color darken(sec, 10%)
    .current-cat
        a
            background-color main
            color sec
            border none
        &:hover
            a
                background-color lighten(main, 10%)

.blog-ctrl-group
    // margin 60px 0
    &:after
        content ""
        display table
        clear both

.tags-wrapper
    position relative
    z-index 10
