*, *:before, *:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

body
  left 0
  right 0
  margin auto

a, aside, .overlay, body
    transition all .25s ease
a.slideButton, .dosearch
    position fixed
    display block
    width 40px
    height 40px
    top 10px
    z-index 31
.slideButton
    left 10px
.dosearch
    right 10px
    background darken(main,10%)
    border-radius rem(3px)
    padding rem(2px) rem(3px)
.icon-menu
    cursor pointer
    padding rem(5px)
    border-radius rem(3px)
    background darken(main,10%)
    width rem(40px)
    height rem(40px)
    fill sec
.icon-search
    width rem(35px)
    height rem(35px)

.overlay
    cursor pointer

#close
    display none

aside
    position fixed
    height 100%
    width rem(240px)
    padding rem(40px) 0 0
    top 0
    left rem(-240px)
    background #3F3F3F
    z-index 20
    box-shadow inset -10px -1px 15px -9px rgba(0,0,0,0.5)
    h2
        text-align center
        margin 0 0 rem(10px)
        mainFont(800)
        font-size rem(20px)
        color sec
    nav
        ul
            padding 0
        li
            margin 0
            list-style-type none
            a
                width 100%
                display block
                padding rem(20px)
                text-decoration none
                mainFont(300)
                color #b3b3b1
                border-top 1px solid darken(lightGray,50%)
                &:hover
                    color #191918
                    background sec
        .feed
            border-bottom 1px solid darken(lightGray,50%)
    &.slide
        left 0


a.slideButton.slide
    left rem(250px)
    pointer-events none

.overlay
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    pointer-events none
    background transparent
    z-index 30
    &.slide
        pointer-events auto
        left 240px
        background rgba(0,0,0,.6)
