.pagination-container
    margin-top 40px
    margin-bottom 80px
    padding-top 2em
    text-align center
    font-size 22px

.pagination-item
    list-style-type none
    display inline-block
    border-right 1px solid #d7dadb
    &.first-number
        border-left 1px solid #d7dadb

.pagination-item:hover,
.pagination-item.is-active
    background-color #fa4248
    border-right 1px solid #fff

.pagination-item:hover .pagination-link,
.pagination-item.is-active .pagination-link
    color #fff

.pagination-link
    padding 1.1em 1.6em
    display inline-block
    text-decoration none
    numberFont()
    color #8b969c

.pagination-item--wide
    list-style-type none
    display inline-block
    &.first
        margin 0 1em 0 0
    &.last
        margin 0 0 0 1em

.pagination-link--wide
    text-decoration none
    color #8b969c
    padding 1.1em 1.6em
    &:hover
        color #fa4248
    &.first
        &::before
            content "\E765"
            margin-right 0.5em
    &.last
        &::after
            content "\E766"
            margin-left 0.5em

.pagination-link--wide.first:before,
.pagination-link--wide.last:after
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale