.post-content
    padding rem(40px) 0
    img
        max-width 100%
        margin rem(30px) auto
        display block
    p, h1, h2, h3, h4,ul,ol, .tags, iframe
        center(rem(870px))
        padding 0 rem(20px)
        margin 0 auto rem(30px)
        mainFont(300)
        font-size rem(18px)
        line-height 2
        letter-spacing 0.01rem
        +above(cut)
            font-size rem(20px)
    p,li
        color texts
        font-size rem(21px)
        line-height 1.6
        code
            color colorcode
    a
        mainFont(300)
        color main
        text-decoration none
        border-bottom 2px solid main
    iframe
        margin-top rem(30px)
        width 100%
    #twitter-widget-0
    	margin auto !important
    h1,h2,h3,h4,h5
        color main
    h1
        font-size 52px
        line-height 120%
        mainFont(200)
        +above(cut)
            font-size rem(45px)
    h2
        font-size 32px
        line-height 120%
        mainFont(500)
        +above(cut)
            font-size rem(35px)
    h3
        font-size 21px
        line-height 120%
        mainFont(bold)
        +above(cut)
            font-size rem(25px)
    ul,ol
        padding-left rem(40px)
    ul.post-list
        padding 0
        +below(cut)
            padding 0 rem(20px)
    blockquote
        center(rem(780px))
        border-left rem(5px) solid main
        padding 10px 0 10px rem(20px)
        mainFont(400)
        font-style italic
        margin rem(50px) auto
        position relative
        +below(cut)
            width 70%
        :before
            position absolute
            width 30px
            height 30px
            font-size 60px
            line-height .4
            top 10px
            left 10px
            content "\201C"
        p
            color rgba(0,0,0,0.6)
            margin 0
            +below(cut)
                font-size rem(21px)
                line-height 140%
                padding 0
    hr
    	center(rem(760px))
    	border 1px solid lightGray
    	margin 50px auto

.share
    center(800px)
    text-align center
    border-top 1px solid lightGray
    padding-top rem(20px)
    svg
        margin rem(15px)
        size(35,35)
    a
        text-decoration none
        &:hover svg
            fill main


table
    margin rem(50px) auto
    +below(cut)
        display none
    th, td
        border rem(2px) solid #ccc
        padding rem(5px)

.tag-title
    mainFont(300)
    font-size rem(36px)
    margin-top rem(60px)
    center(rem(800px))
    +below(cut)
        font-size rem(28px)
        margin-top rem(20px)
        padding 0 rem(20px)

.post-list
    list-style none
    margin rem(25px) auto
    +below(cut)
        padding 0 rem(20px)
    a
        display block
        border-bottom 1px solid darken(lightGray,10%)
        padding rem(10px) 0
        text-decoration none
        transition all .5s
        &:hover
            color hover
            border-bottom 1px solid hover
    .entry-date
        float right
        +below(cut)
            display none
